* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body
{
    /* display: inline-block; */
    /* justify-content: space-between; */
   background: radial-gradient(84.8% 150.76% at 20% 50%, rgba(0, 255, 255, 0.15) 0%, rgba(0, 255, 255, 0) 50%), radial-gradient(91.79% 163.18% at 80% 80%, rgba(255, 0, 255, 0.15) 0%, rgba(255, 0, 255, 0) 50%), linear-gradient(180deg, #0A0E27 0%, #1A1F3A 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    background: #0A0E27;



    height: 83px;

    padding: 30px;

}


.teamUp {




    font-size: 30px;

    color: rgb(243, 243, 243);
    text-decoration: none;


}

.teamUp span {
    color: #00FFFF;
}

.il a {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    text-decoration: none;
    color: antiquewhite;
}


.il {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}

.btn-nav {
    color: #0A0E27;
    border: solid 1px black;
    background: #00FFFF;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    margin: -15px;
  
}

section {
    
    

    height: 500px;
    /* padding-top: 40px ;
   padding-left: 200px ; */


}


.one-piece {
    display: block;


    width: 80%;
    height: 60%;


    align-content: center;
    margin-right: auto;
    margin-left: auto;



}

h1 {

    margin-top: 10%;
    font-size: 75px;
    text-align: center;
    color: #00FFFF;


}

.para-section {
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

.BTN-Piece {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

#BTN-Piece1 {
    color: #0A0E27;
    border: solid 1px black;
    background: #00FFFF;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    margin-left: 340px;


}

#BTN-Piece2 {
    color: #0A0E27;
    border: solid 1px #00FFFF;
    color: #00FFFF;

    border-radius: 4px;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    margin-right: 350px;

}

footer {

    display: block;
    background: #0A0E27;
    margin-top: 20%;
    margin-bottom: 0px;
    height: 400px;
}

.part-footer {
    display: flex;
    /* background: red; */
    padding-bottom: 250px;
    margin: 0 10%;
}

.list-footer {
    list-style: none;
    color: white;
    margin: 5% 0;

}

.para-footer {

    text-align: left;
    color: aliceblue;
}

.footer-part-1 {
    display: block;


}

.P-FOOTER {
    margin-top: 12%;
}

.footer-icon {
    margin-top: 12%;
    color: #00FFFF;
    font-size: 30px;
}

.footer-part-2 {
    display: block;
    margin: 0 10%;


}

.footre-list-part-1 {
    margin: 15% 0;



}


.footre-list-part-2 {
    margin: 15% 0;


}

.footre-list-part-2 li {
    padding-bottom: 10%;

}

.footre-list-part-3 li {

    padding-bottom: 10%;


}



.footer-part-3 {
    background: re;

    margin: 0 10%;


}

.footer-part-2 {
    display: block;
    margin-left: 10%;
    margin: 0 2%;

}

.marche {
    /* background: red; */
    width: 1200px;
    height: 458px;
    margin: auto;
    /* display: block; */
}

.header-marche {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 1160px;
    height: 83px;
    color: antiquewhite;

    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;

}

.cart-marche {
    display: flex;

    width: 1160px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;


}

/* .cart-marche-1
{ 
   
 border: solid 2px #00FFFF;
     width: 356px;
    height:260px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 5% 10%;
    padding-inline-start: 40px;
  margin-top: 0%;
  margin-right: 5%;
    align-items: start;
} */
.cart-marche-1 {
    text-align: center;
    border: solid 2px #00FFFF;
    border-radius: 20px;
    margin-right: 10%;
    font-size: 15px;

}

.cart-marche-icon1 i {
    font-size: 40px;
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 100%;
    color: #00FFFF;
    background: #0A0E27;
    margin-bottom: 20%;


}

.cart-marche1-h {
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 10%;
}

.cart-marche-para {
    color: aliceblue;
}


.cart-marche-2 {
      text-align: center;
    border: solid 2px #00FFFF;
    border-radius: 20px;
    margin-right: 10%;
    font-size: 15px;


}

.cart-marche-icon2 i {
    font-size: 40px;
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 100%;
    color: #00FFFF;
    background: #0A0E27;
    margin-bottom: 20%;


}

.cart-marche2-h {
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 10%;
}

.cart-marche-para {
    color: aliceblue;
}

/*  */


.cart-marche-3 {
    text-align: center;
    border: solid 2px #00FFFF;
    border-radius: 20px;

}

.cart-marche-icon3 i {
    font-size: 40px;
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 100%;
    color: #00FFFF;
    background: #0A0E27;
    margin-bottom: 20%;


}

.cart-marche3-h {
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 10%;
}

.cart-marche-para {
    color: aliceblue;
}

.cart-marche-1:hover {
    
     transform: scale(1.25);
    box-shadow: 10px 10px 10px  #00FFFF;
}
.cart-marche-2:hover {
    
     transform: scale(1.25);
    box-shadow: 10px 10px 10px  #00FFFF;
}
.cart-marche-3:hover {
    
     transform: scale(1.25);
    box-shadow: 10px 10px 10px  #00FFFF;
}









.profil-card-section{
    display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 10px;
}




.profil-card{

 display: inline-block;
 
 justify-content: center;
text-align: center;

 padding: 10px;
 /* border: 3px solid #00FFFF; */

    
}
 .profil-card > div {
     /* background-color: #0A0E27; */
   border: 3px solid #00FFFF;
  border-radius: 25px;
  padding: 30px;
  font-size: 20px;
  text-align: center
} 
.profil-card :hover
{
    transform: scale(1.05);
    /* box-shadow: #00FFFF 12px 12px 10px; */
}



.profil-game-1{
    border: red 3px solid;
   
    border-radius: 20px;
    background: rgb(137, 3, 3);
    
     color: red;
    align-items: center;
}
/*  */


.profil-game-2{
    border: rgb(3, 17, 110) 3px solid;
   
    border-radius: 20px;
    background: rgb(43, 20, 128);
    
     color: blue;
    align-items: center;
}


.profil-game-3{
    border: red 3px solid;
   
    border-radius: 20px;
    background: rgb(137, 3, 3);
    
     color: red;
    align-items: center;
    padding: 4px;
    
}


.profil-game-4{
    border: rgb(161, 123, 0) 3px solid;
   
    border-radius: 20px;
    background: rgba(185, 198, 10, 0.605);
    
     color: rgb(208, 255, 0);
    align-items: center;
}


.profil-game-5{
    border: red 3px solid;
   
    border-radius: 20px;
    background: rgb(137, 3, 3);
    
     color: red;
    align-items: center;
}

.profil-game-6{
    border: red 3px solid;
   
    border-radius: 20px;
    background: rgb(137, 3, 3);
    
     color: red;
    align-items: center;
}
/*  */

.profil-name{
    color: white;
}
.profil-imag img{
    border: #00FFFF solid 5px;
    border-radius: 100%;
}
.profil-btn
{
     border:#0A0E27 3px solid;
    border-radius: 10px;
    background: #00FFFF;
    color:black;
    
    
}
.profil-btn a{
    text-decoration: none;
  font-size: 30px;
  color: black;
}

.title-page-joueur
{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    
}

.profil-rank
{
    color: #00FFFF;
    margin: 5%;
}
  .profil-card-section
  {
    height: 500px;
  }
.btn-nav
{
    color: black;
}
.stat
{
    color: white;
    margin-bottom: 10%;
}
 

.div-line
{
    margin-top: 16px;
    width: 100px;
    height: 4px;
    border: none;
    border-radius: 2px;
    background: linear-gradient(90deg,#00ffff 0%,#FF00FF 100%);
}
.section-recrutement
{
    display: flex;
    justify-content: center;
   text-align: center;
   color: aliceblue;
   padding: 20px;
   height: 700px;
     /* background: linear-gradient(90deg,#00ffff 0%,#FF00FF 100%);
   */

}
.form-recrutement
{
 display: flex;
 flex-direction:column ;
 

 width: 800px;
 /* justify-content: center; */

 

}
.form-recrutement input{
    /* font-size: 30px; */
    
    border: #ffffff 1px solid;
    border-radius: 10px;
    background: b;
    height: 30px;
    margin-bottom:10%;
    color: white;
    background: #0B0F28;
    width:750px;
    margin-left:1% ;
    height: 40px;
}

.recrutement-h
{
    font-size: 50px;
    background: linear-gradient(90deg,#00ffff 0%,#FF00FF 100%);
   
    border-radius: 10px 10px 0px 0px;
}
.form-recrutement label
{
    font-size: 20px;
    justify-content: left;
    justify-content: space-between;
    text-align: left;
    margin-left: 2%;
   
    /* margin-top: 4%; */
    margin-bottom: 3%;
}
.option-recrutement{
    font-size: 20px;
    justify-content: left;
    justify-content: space-between;
    text-align: left;
   
     border: #ffffff 1px solid;
    border-radius: 10px;
    background: b;
    
    margin-bottom:10%;
margin-left:2%;
    color: white;
    background: #0B0F28;
    width:750px;
    height: 40px;
}

#discription
{
    margin-bottom:0%;
  margin-top: 0%;
  margin-left: 2%;
   width: 700px;
  height: 180px;
    background: #0B0F28;
color:white;
padding-top: 0%;
  text-decoration-style: none;
  border: #ffffff 2px solid;
  border-radius: 15px;
}
.form-recrutement
{
    border: #000000 1px solid;
  border-radius: 7px;
  background:  #0F1329 ;
 
}
.btn-recrutement
{
     text-decoration: none;
     color: #000000;
     border: 1px white solid;
     border-radius: 15px;
     width: 200px;
     background: #00FFFF;
    margin:0% auto ;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 35px;
    margin-bottom: 20px;

}